@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model testing_log_asp.net.Models.login
@{
    ViewData["Title"] = "Password";

}

<div class="padding-all">
    <div class="header">
        <h1> Login Form</h1>
    </div>

    <div class="design-w3l">
        <div class="mail-form-agile">
            <form asp-action="Index1" asp-controller="Home" method="post">
                <input type="password" asp-for="Password" placeholder="Password" required="" />

                <input type="submit" value="login">
            </form>
            <p> @ViewBag.mess</p>
        </div>
        
    </div>


</div>

